<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
    <header class="container-fluid fixed-top">
        <div class="row d-flex justify-content-between align-items-center navbar navbar-expand-lg navbar-dark bg-white ">
            <div class="col-md-2">
                <a href="/"><img src="{%static 'images/ashlo.png'%}"  class="img-fluid w-90"></a>
            </div>
            <div class="col-md-8 d-flex justify-content-around">
                <a href="/boys" class="boys "><h3 class="boys">Boys Collection</h3></a>
                <a href="/girls" class="girls"><h3 class="girls">Girls Collection</h3></a>
            </div>
            <div class="col-md-2">
                <div class=" d-flex align-items-center justify-content-around ">
                    <div class="w-25 align-items-center mt-2">
                        <a href="/login"><img src="{%static 'images/123.png'%}"  class="img-fluid "></a>
                    </div>
                    <div class="w-25 align-items-center mt-2">
                        <a href="/cart"><img src="{%static 'images/pinkcart.png'%}"  class="img-fluid "></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <hr>
    
    <main class="container-fluid ">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <a href="/boys"><img src="{%static 'images/baby_3.jpeg'%}" alt="" class="img-fluid "></a>
            </div>
            <div class="col-md-6">
                <a href="/girls"><img src="{%static 'images/mini_2.jpeg'%}" alt="" class="img-fluid "></a>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <h3>Discover the New Ashlo Childrenswear Collection</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <p>With Ashlo Wear, you will find the latest children’s fashion with unique designs that are up to date with current trends. Always striving for high quality clothes, our designs are made with the most exclusive fabrics for maximum comfort for babies, boys and girls.</p>
            </div>
            <div class="col-md-4">
                <p>Ashlo Wear offers clothing that can suit both your child’s early stages, school days, so our collection of kids clothing ranges in size from newborn to age 16 years. Our collection aims to meet the needs of each age group.</p>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-2 ">
                <p><img src="{%static 'images/newborn2.jpg'%}" alt="" class="img-fluid "></p>
                <p>(0-18 months)</p>
            </div>
            <div class="col-md-2 ">
                <p><img src="{%static 'images/baby-10.jpg'%}" alt="" class="img-fluid "></p>
                <p>(18-36 months)</p>
            </div>
            <div class="col-md-2">
                <p><img src="{%static 'images/mini-10.jpg'%}" alt="" class="img-fluid "></p>
                <p>(3-9 years)</p>
            </div>
            <div class="col-md-2">
                <p><img src="{%static 'images/junior-10.jpg'%}" alt="" class="img-fluid "></p>
                <p>(10-16 years)</p>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center ">
            <div class="col-1">
                <a href=""><img src="{%static 'images/instagram.png'%}" alt="" class="img-fluid "></a>
            </div>
            <div class="col-1">
                <a href=""><img src="{%static 'images/facebook.png'%}" alt="" class="img-fluid "></a>
            </div>
            <div class="col-1">
                <a href=""><img src="{%static 'images/whatsapp.png'%}" alt="" class="img-fluid "></a>
            </div>
        </div>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>